* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background: #f9f9f7;
  font-family: "DM Sans";
  color: #2c2f24;
}
.cart-page {
  padding: 2rem;
}
.cart-page h2 {
  font-family: "playfair display";
  font-weight: normal;
  font-size: 50px;
  text-align: center;
  margin: 10px 0 50px 0;
  padding: 20px;
}
.cart-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.cart-list {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: "DM Sans";
}

.cart-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  background: #ffff;
  border-radius: 10px;
  padding: 15px;
  align-items: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}
.cart-item img {
  width: 70px;
  height: 70px;
  border-radius: 10px;
}
.items-price {
  font-weight: bold;
  padding: 10px;
}
.items-controls-section {
  display: flex;
  align-items: center;
}
.items-control {
  padding: 10px;
  margin: 10px;
  border-radius: 18px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  background-color: #ad343e;
  color: #fff;
  border: none;
  cursor: pointer;
  width: 40px;
}
.items-control:hover {
  background-color: #dbdfd0;
  color: #2c2f24;
}
.items-remove-btn {
  border: none;
  border-radius: 20px;
  background-color: #ad343e;
  color: #fff;
  cursor: pointer;
  width: 100px;
  height: 35px;
  font-size: 14px;
  margin: 10px;
  transition: transform 0.3s ease;
}
.items-remove-btn:hover {
  transform: scale(1.1);
  background-color: #dbdfd0;
  color: #2c2f24;
}
.total-box {
  flex: 1;
  background: #fff;
  border-radius: 10px;
  padding: 25px;
  height: 250px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  position: sticky;
  top: 200px;
}

.total-box h3 {
  margin-top: 0;
  font-weight: 600;
  text-align: center;
}

.total-details p {
  margin: 10px;
}

.checkout-btn {
  margin-top: 1rem;
  width: 100%;
  padding: 0.75rem;
  background: #ad343e;
  color: white;
  border: none;
  font-size: 16px;
  border-radius: 40px;
  cursor: pointer;
  transition: transform 0.5s ease;
}
.checkout-btn:hover {
  transform: scale(1.05);
  background-color: #dbdfd0;
  color: #2c2f24;
}
.empty-cart {
  font-family: "DMSans";
  text-align: center;
  font-size: 36px;
  margin-top: 10%;
}
@media (max-width: 599px) {
  .total-box {
    height: 290px;
  }
  .cart-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #ffff;
    border-radius: 10px;
    padding: 15px;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    text-align: center;
  }
}
